<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forum Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/app.css" />
</head>
<body>

    <header>
        <h1>One Million Forum</h1>
    </header>


        <main>
            <div id="wrapper">
                <div id="first" class="vertical-menu">
                  <a href="index.html" class="active">Home</a>
                  <a href="#">Show your Posts</a>
                  <a href="#">Show All Members</a>
                  <a href="#">Top Ten Members</a>
                </div>
                <div id="second">
                    <br />
                    <span><label id="user_name_lb"  title="Kreem" ><b>Kareem Yousef</t></label></span>
                    <span id="middle_margin" ><button id="setting_btn" title="..." >...</button>
                    <input type="text" id="name_txt"  name="text_field" placeholder="Enter Member Name.." /></span>
                    <span id="right_margin" ><button id="add_post_btn">Add new post</button></span>
                </div>
                    <br/>
                  <div id="third">
                    <ul id="font">
                      % for post in posts %
                      <li><a href="#">
                        {{requist.values}}
                        {{post.title}}
                      </a></li>
                      % endfor %
                    </ul>
                </div>
          </div>
        </main>



    <footer>

    </footer>
</body>
</html>
